src/flows/New_User_Chatter_Group_Auto_Assignment-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Add the Single Member record to the CollaborationGroupMembers sObject Collection</description>
        <name>Add_Member_to_Collection</name>
        <label>Add Member to Collection</label>
        <locationX>500</locationX>
        <locationY>156</locationY>
        <assignmentItems>
            <assignToReference>CollaborationGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneGroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Assigned_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection</name>
        <label>Assign Collection</label>
        <locationX>64</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>ExistingMemberGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExistingMembership.CollaborationGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Existing_memberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the User to the Group member Records</description>
        <name>Assign_Group_Member_Details</name>
        <label>Assign Group Member Details</label>
        <locationX>581</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>OneGroupMember.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneGroupMember.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneGroupAlignment.Chatter_Group_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneGroupMember.CollaborationRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneGroupAlignment.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OneGroupMember.NotificationFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_To_Be_Added_To</name>
        <label>Assign Group To Be Added To</label>
        <locationX>177</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>GroupsNotYetAMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneGroupAlignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Existing_memberships</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_User_already_Assigned</name>
        <label>Is the User already Assigned&gt;</label>
        <locationX>320</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>Assign_Group_To_Be_Added_To</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Yet A member</defaultConnectorLabel>
        <rules>
            <name>Already_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingMemberGroupIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OneGroupAlignment.Chatter_Group_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Existing_memberships</targetReference>
            </connector>
            <label>Already Assigned</label>
        </rules>
    </decisions>
    <description>Added Check for Existing membership</description>
    <interviewLabel>New User Chatter Group Auto-Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New User Chatter Group Auto-Assignment</label>
    <loops>
        <description>Loop through Assigned Groups for an individual Assigned Group record to evaluate.</description>
        <name>Loop_through_Assigned_Groups</name>
        <label>Loop through Assigned Groups</label>
        <locationX>351</locationX>
        <locationY>32</locationY>
        <assignNextValueToReference>OneGroupAlignment</assignNextValueToReference>
        <collectionReference>GroupsNotYetAMember</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Member_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateGroupMembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Existing_memberships</name>
        <label>Loop Through Existing memberships</label>
        <locationX>70</locationX>
        <locationY>363</locationY>
        <assignNextValueToReference>OneGroupAlignment</assignNextValueToReference>
        <collectionReference>AssignedGroupAlignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_User_already_Assigned</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Assigned_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates all the Chatter Group Membership records for the user in bulk</description>
        <name>CreateGroupMembers</name>
        <label>CreateGroupMembers</label>
        <locationX>363</locationX>
        <locationY>280</locationY>
        <inputReference>CollaborationGroupMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fast_Lookup_Existing_Group_Member_Records_for_this_User</name>
        <label>Fast Lookup Existing Group Member Records for this User</label>
        <locationX>60</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Collection</targetReference>
        </connector>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisUser.Id</elementReference>
            </value>
        </filters>
        <object>CollaborationGroupMember</object>
        <outputReference>ExistingMemberships</outputReference>
        <queriedFields>CollaborationGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Lookup the Chatter Group Alignment Records for the User&apos;s Profile</description>
        <name>Lookup_Group_Opotions</name>
        <label>Lookup Group Opotions</label>
        <locationX>59</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fast_Lookup_Existing_Group_Member_Records_for_this_User</targetReference>
        </connector>
        <filters>
            <field>Profile_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisUser.ProfileId</elementReference>
            </value>
        </filters>
        <object>Chatter_Group_Alignment__c</object>
        <outputReference>AssignedGroupAlignments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Chatter_Group_Id__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Group_Opotions</startElementReference>
    <variables>
        <name>AlignmentForGroupsToBeAddedTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chatter_Group_Alignment__c</objectType>
    </variables>
    <variables>
        <name>AlignmentGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Groups assigned to the User&apos;s Profile</description>
        <name>AssignedGroupAlignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Chatter_Group_Alignment__c</objectType>
    </variables>
    <variables>
        <description>The Chatter Group Member records that connect the User to the Chatter Group</description>
        <name>CollaborationGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>ExistingMemberGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>ExistingMemberships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>GroupsNotYetAMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chatter_Group_Alignment__c</objectType>
    </variables>
    <variables>
        <description>The Chatter Group Alignment records that connects the Profile to the Chatter Group</description>
        <name>OneGroupAlignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Chatter_Group_Alignment__c</objectType>
    </variables>
    <variables>
        <description>1 Chatter Group Member record that connect the User to a Chatter Group</description>
        <name>OneGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <description>The user being activated.</description>
        <name>thisUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
